*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap-body{
    margin-left: auto;
    margin-right: auto;
    padding: 50px 10%;
}

  h2{
    text-align: center;
    margin-bottom: 40px;
    font-family:'Quicksand', sans-serif; 
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: #616161;
  }

  /*grid*/
  .grid{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 50px;
      justify-content: space-evenly;
      
  }

  .grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }

  .grid-image:hover{
    border: 5px solid #f7f7f7;
  }
 
  .menu a{
    text-decoration: none;
    color: white;
    margin: 0;
    transition: all 0.3s ease;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 35px;
  }

  .menu a:hover{
    cursor: pointer;
		color: green;
  }

  .menu .menu-item{
    text-transform: uppercase;
		margin-bottom: 5px;
    display: block;
    text-shadow: 1px 1px 2px #222;

  }

  .table{
    display:table;
    height: 100%;
    width: 100%;
  }

  .cell{
    display: table-cell;
    padding-top: 10%;
    text-align: center;
  }

  #menu-trigger{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index:99;
    transition: all 0.5s ease;
    transform: scale(0.85)
  }

  #menu-trigger div{
		position: relative;
		display:block;
		height: 5px;
		margin-bottom: 7px;
		width: 40px;
		background: white;
		transition: all 0.5s ease;
		box-shadow: 1px 1px 2px #222;
  }
  #menu-trigger:hover{
    cursor: pointer;
  }

  #menu-trigger:hover div:nth-child(odd){
    width:35px;
  }
  #menu-trigger:hover div:nth-child(even){
    width:25px;
  }
  #menu-trigger.clicked div:nth-child(even){
			opacity:0;
		}
  #menu-trigger.clicked div:nth-child(1){
			transform: rotate(45deg);
			top:12px;
    }
    #menu-trigger.clicked div:nth-child(3){
      transform: rotate(-45deg);
			top:-12px;
    } 
    #menu-trigger.clicked:hover{
			transform: scale(0.75);
    }
    #menu-trigger.clicked:hover div{ 
			width:40px !important;
    }
    #menu-trigger.clicked:hover{
      transform: scale(0.75);
    }

    .menu{
      position:fixed;
      top:0px;
      left: -100%;
      width: 100%;
      height: 100vh;
      z-index: 98;
      background: black;
      transition: all 0.75s cubic-bezier(.77,.06,.28,.85);
    }

    .menu.open{
        left:0;
        box-shadow: 1px 0px 5px black;
      }

    .menu-tint{
        position: fixed;
        width:100%;
        height:100%;
        background: $blue;
        opacity:0;
        z-index: -1;
        transition: all 0.75s cubic-bezier(.77,.06,.28,.85);
    }

    .menu-tint.open{
      opacity:0.15;
		  z-index: 97;
    }

    #menu-logo a{
      position: fixed;
      top: 20px;
      right: 20px;
      z-index:99;
      transition: all 0.5s ease;
      transform: scale(1.2);
      text-decoration: none;
      color: white;
      margin: 0;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      font-size: 35px;
      text-shadow: 1px 1px 2px #222;
      
  }

  /*Footer*/
footer{
  flex-shrink: 0;
}

.footer-wrap{
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-copyright{
  font-size: 9px;
  max-width: 250px;
  height: 25px;
  margin: auto;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: .7;
}

.footer-icons{
  flex-wrap: wrap;
  justify-content: flex-end;
}

  @media (max-width: 500px) {
    h2{
      font-size: 25px;
      font-weight: 600;
      line-height: 1.2;
    }
    .grid {
        grid-template-columns: auto auto;
        grid-gap: 1% 5%;
    }

    .wrap-body{
        width: 90%;
    }
  }

  @media (max-width: 800px) {
    .grid {
        grid-gap: 1% 2%;
    }

    .wrap-body{
        width: 90%;
        padding-top: 20%
    }

    
  }

  @media (max-width: 360px) {
    .grid {
        grid-template-columns: auto;
        grid-gap: 1%;
    }

  }

  