*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html{
    font-size: 16px;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.4em;
}

a{
    text-decoration: none;
 
}

.menu a{
    text-decoration: none;
    color: white;
    margin: 0;
    transition: all 0.3s ease;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 35px;
  }

  .menu a:hover{
    cursor: pointer;
		color: green;
  }

  .menu .menu-item{
    text-transform: uppercase;
		margin-bottom: 5px;
    display: block;
    text-shadow: 1px 1px 2px #222;

  }

  .table{
    display:table;
    height: 100%;
    width: 100%;
  }

  .cell{
    display: table-cell;
    padding-top: 10%;
    text-align: center;
  }

  #menu-trigger{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index:99;
    transition: all 0.5s ease;
    transform: scale(0.85)
  }

  #menu-trigger div{
		position: relative;
		display:block;
		height: 5px;
		margin-bottom: 7px;
		width: 40px;
		background: white;
		transition: all 0.5s ease;
		box-shadow: 1px 1px 2px #222;
  }
  #menu-trigger:hover{
    cursor: pointer;
  }

  #menu-trigger:hover div:nth-child(odd){
    width:35px;
  }
  #menu-trigger:hover div:nth-child(even){
    width:25px;
  }
  #menu-trigger.clicked div:nth-child(even){
			opacity:0;
		}
  #menu-trigger.clicked div:nth-child(1){
			transform: rotate(45deg);
			top:12px;
    }
    #menu-trigger.clicked div:nth-child(3){
      transform: rotate(-45deg);
			top:-12px;
    } 
    #menu-trigger.clicked:hover{
			transform: scale(0.75);
    }
    #menu-trigger.clicked:hover div{ 
			width:40px !important;
    }
    #menu-trigger.clicked:hover{
      transform: scale(0.75);
    }

    .menu{
      position:fixed;
      top:0px;
      left: -100%;
      width: 100%;
      height: 100vh;
      z-index: 98;
      background: black;
      transition: all 0.75s cubic-bezier(.77,.06,.28,.85);
    }

    .menu.open{
        left:0;
        box-shadow: 1px 0px 5px black;
      }

    .menu-tint{
        position: fixed;
        width:100%;
        height:100%;
        background: $blue;
        opacity:0;
        z-index: -1;
        transition: all 0.75s cubic-bezier(.77,.06,.28,.85);
    }

    .menu-tint.open{
      opacity:0.15;
		  z-index: 97;
    }

    #menu-logo a{
      position: fixed;
      top: 20px;
      right: 20px;
      z-index:99;
      transition: all 0.5s ease;
      transform: scale(1.2);
      text-decoration: none;
      color: white;
      margin: 0;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      font-size: 35px;
      text-shadow: 1px 1px 2px #222;
      
  }

/*cover page*/
.slogan{
    background-image: url('../images/portada.jpg');
    opacity: 0.8;
    background-size: cover;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 20%;
    background-position: bottom;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    justify-content: center;
}

.slogan span{
    color:#ff9000;
}

.slogan .slogan-text{
    opacity: 1;
}

.section-break-4{
    display: none;
}


/*diseno web*/
.diseno-web{
    background-color: white;
    height: auto;
    padding: 100px 80px;
    text-align: center;
}


.column img{
    height: 150px;
    margin: auto;
    margin-bottom: 8%;
}

.diseno-web h2{
    margin-bottom: 1%;
}

.line-break{
    border-bottom: 1px solid #ff9000;
    width: 150px;
    margin: 0 auto;
}

/*grid*/

.grid{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 3%;
    padding:30px 25px ;
    background-color: #F2F2F4;
    border-radius:20px;
    height: auto; 
}

.column {
    padding:15px 10px;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
    background-color: white;
    border-radius:20px;
    width: 100%;

}

.column h3{
    margin-bottom: 4%;
}

/*fotografia*/

.fotografia{
    display: block;
    height: auto;
    justify-content: center;
    text-align: center;
    padding-bottom:100px ;
    padding-top:100px;
}

.fotografia h2{
   padding-top:50px;
   margin-bottom: 1%;
}

.fotografias-content{
    margin-top: 5%;
    padding-bottom: 4%;
}

/*button*/
.button{
    width: 100px;
    background: #27AE60;
    font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: white;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 15px;
    margin: 20px 5px;
    line-height: 1.4em;
    font-size: 20px;
}

.button:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*Footer*/
footer{
    flex-shrink: 0;
}

.footer-wrap{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer-copyright{
    font-size: 9px;
    max-width: 250px;
    height: 25px;
    margin: auto;
    padding: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: .7;
}

.footer-icons{
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media (max-width: 900px){
    
    h1{
        font-size: 2.8rem;
    }

    h2{
        font-size: 2.4rem;
    }
    .slogan{
        padding-top: 30%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        
    }
    .slogan-wrap{
        margin: 0 auto;
        width: 80%;
        
    }
    .slogan h3{
        margin-top: 2%;
        font-size: 16px;
    }

    .column img{
        height: 100px;
        margin: auto;
        margin-bottom: 4%;
    }

    .grid{
        width: 100%;
        grid-template-columns:repeat(1, 1fr);
        grid-gap: 2%;
        padding:30px 25px ;
        background-color: transparent;
        border-radius:20px
    }

    .column {
        padding:15px 10px;
        display: inline-flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
        background-color: white;
        border-radius:20px;
        width: 100%;
    
    }
    .column h3{
        margin-bottom: 2%;
    }
    .column h4{
        padding-left: 4%;
        padding-right: 4%;
    }

    .fotografia-wrap{
        margin: 0 auto;
        width: 80%;
    }
    .fotografia h2{
        padding-top: 0px;
    }
    .fotografia h3{
        font-size:20px ;
    }

}

@media (max-width: 500px){
    h2{
        font-size: 30px;
    }
    .slogan-wrap{
        width: 70%;
        
    }
    .diseno-web{
        background-color: #F9F9F9;
        height: auto;
        padding: 20% 10%;
        text-align: center;
    }

    .grid{
        width: 100%;
        margin-top: 5%;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-gap: 2.5%;
        padding:0px;
        background-color: transparent;
    }

    .column {
        padding:15px 10px;
        display: inline-flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
        background-color: white;
        border-radius:20px;
        width: 100%;

    }
    .column img{
       display: none;
    }
    .column h3{
        font-size: 20px;
        font-weight: 400;
    }
    .column h4{
        text-align: center;
        line-height: 1;
        font-size: 15px;
    }

    .fotografia h3{
        font-size:18px ;
    }
    .fotografias-content{
        height: auto;
        padding-bottom: 4%;
    }


    
}